@-moz-document domain("scarsdaleschools.k12.ny.us"), domain("scarsdaleschools.org") {
    #gb-translate-dropdown {
	display: none !important; /* I dont want a translation */
    }

    .hide768 {
        display: block !important; /* override jquery to prevent top menu disappearing */
    }

    #rs-menu-btn {
        display: none !important; /* override jquery to prevent top menu disappearing */
    }

    #channel-navigation {
	display: inline-block; /* center-align top menu (this is a hack, real solution wanted) */
    }

    #sw-channel-list-container {
	text-align: center; /* center-align top menu (this is a hack, real solution wanted) */
    }

    #gb-channel-list {
	min-height: 40px !important; /* top menu height */
    }

    li.sw-channel-item > a {
	font-size: 14px !important; /* top menu smaller font */
	font-family: Arial, Helvetica, sans-serif !important; /* top menu better font familty */
	text-transform: none !important; /* top menu no uppercase */
    }

    li.sw-channel-item > a span {
	padding: 10px 0px 5px 0px; /* top menu less padding */
    }

    ul.sw-channel-list li.sw-channel-item {
	height: 40px !important; /* top menu font size */
    }

    ul.sw-channel-dropdown {
	width: 100px; /* make top menu dropdown menu smaller */
    }

    #gb-logo-cont {
	display: none !important; /* remove useless section below menu */
    }

    #gb-footer-outer {
	display: none !important; /* remove useless shs footer */
    }

    #gb-footer-legal-outer {
	display: none !important; /* fuck schoolwires (a.k.a remove sw footer) */
    }
}

@-moz-document regexp("http://www\\.scarsdaleschools\\.org/Domain/\\.*"), regexp("http://www\\.scarsdaleschools\\.k12\\.ny\\.us/Domain/\\.*") {
    #hp-slideshow-outer {
	display: none !important; /* remove useless banner */
    }
}
